.header {
	font-size: 40px;
	text-align: center;
	font-weight: bold 

}


th {
    text-align: left;
    	 padding-left: 10px;
    padding-right: 10px;
   }

td {
	 padding-left: 10px;
    padding-right: 10px;
}
